
<div class="Rectangle container-fluid" *ngIf="course" [appHighlightBorder] = "getColor">
    <div style="display: inline-block;width: 900px;">
        <div class="row">
            <div class="col-6"><span class="Video-Course-1-Name">{{course.Title}}</span></div>
            <div class="col-auto"><span class="text-muted">{{getDuration}}</span></div>
            <div class="col-auto"><span class="text-muted">{{formattedDate}}</span><br></div>
        </div>        
        <div>
            <span class="Learn-about-where-yo">{{course.Description}}</span>
        </div>        
    </div>
    <div style="display: inline-block; width: 75px; margin-right: 5px;">
        <button type="button" class="btn btn-primary">Edit</button><br>
    </div>
    <div style="display: inline-block; width: 75px;">
        <button type="button" class="btn btn-primary" (click)="onDelete()">Delete</button>
    </div>
</div>
